@import "../../variables.scss";

$height-header: 40px;

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: white, $alpha: .6);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-wrapper {
    min-width: 500px;
    background-color: aliceblue;
    box-shadow: 0 2px 8px #aaa;
    border-radius: $border-radius;
  }

  .modal-header {
    background-color: $color-main;
    color: white;
    padding-left: $padding-default;
    height: $height-header;
    line-height: $height-header;
    display: flex;
    border-radius: $border-radius $border-radius 0 0;
  }

  .modal-title {
    flex: 1;
  }

  .modal-x {
    width: $height-header;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: lighten($color: $color-main, $amount: 10);
    }
  }

  .modal-body {
    padding: $padding-default;
    border-bottom: 1px solid $color-border;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-footer {
    padding: $padding-default;
    text-align: right;

    button {
      margin-left: $padding-default;
    }
  }
}