@import "../../variables.scss";

.SavedFiles {
  display: flex;
  flex: 1;
  background-color: aliceblue;
  padding: $padding-default;
  flex-direction: column;

  .saved-files-header {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;

    span {
      float: right;
      cursor: pointer;
      color: #777;
    }
  }

  .saved-files-body {
    display: flex;
    flex: 1;
  }
}