@import "../../variables.scss";

.Header {
  height: $heigh-header;
  background-color: $color-main;
  padding: 0 $padding-default;
  display: flex;
}

.title {
  font-weight: bold;
  line-height: $heigh-header;
  font-size: 18px;
  color: white;
  flex: 1;
  text-decoration: none;
}

.link {
  line-height: $heigh-header;
  font-size: 14px;
  color: white;
  display: block;
}
