@import "../../variables.scss";

$heigh-search-box: 40px;

.Search {
  display: flex;
  flex: 1;
  background-color: aliceblue;
  padding: $padding-default;
}

.search-separator {
  width: 1px;
  background-color: $color-border;
}

.search-panel {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.search-panel.left {
  padding-right: $padding-default;
}

.search-panel.right {
  padding-left: $padding-default;
}

.search-box-wrap {
  height: $heigh-search-box;
}

.search-box-wrap input {
  display: block;
  height: $heigh-search-box;
  width: 100%;
  margin: 0;
  padding: 0 $padding-default;
  outline: 0;
  border: 1px solid $color-border;
  border-radius: $border-radius;
}

.search-results-wrap {
  position: relative;
  flex: 1;
  overflow: auto;
  margin-top: $padding-default;
}

.search-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.search-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.search-video-empty {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
  flex-direction: column;
  color: #666;
}


/* http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 40px;
  height: 40px;
  background-color: $color-main;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px - #{$heigh-search-box});

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}
