@import "../../variables.scss";

.Thumbnail {
  background-color: white;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  margin-bottom: $padding-default;
  padding: $padding-default;
  cursor: pointer;
  display: flex;
}

.Thumbnail:hover {
  border-color: $color-main;
}

.Thumbnail.selected .thumbnail-title {
  color: $color-main;
}

.Thumbnail.selected {
  border-color: $color-main;
  box-shadow: inset 0 0 0 2px $color-main;
}

.thumbnail-image {
  width: 240px;
  height: 135px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.thumbnail-info {
  flex: 1;
  padding-left: $padding-default;
  overflow: hidden;
}

.thumbnail-title {
  font-size: 16px;
  margin: 0 0 12px;
}

.thumbnail-channel-name {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.thumbnail-description {
  margin: 20px 0 0;
  font-size: 14px;
}


.ThumbnailAction {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $padding-default;
  height: $padding-default;
  line-height: $padding-default;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: green;

  &.saved {
    background-color: red;
  }
}
