@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
}

body::-webkit-scrollbar {
  width: 4px;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 1px solid $color-main;
  color: $color-main;
  background-color: white;
  height: 26px;
  line-height: 26px;
  padding: 0 $padding-default;
  border-radius: $border-radius;

  &:hover {
    background-color: $color-main;
    color: white;
  }

  &:active {
    background-color: lighten($color: $color-main, $amount: 10);
  }
}
